<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/template :: layout(~{::title}, ~{::script}, ~{::link}, ~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
<link rel="stylesheet" />
</head>
<body>
	<h2>Add new Todo</h2>
	<div th:fragment="body" th:remove="tag"><br />
		<form th:action="@{/todo-add}" th:object="${todo}" method="post">
			<div class="row mb-3">
				<label for="title" class="col-sm-2">Title: </label>
				<div class="col-sm-10">
					<input type="text" name="title" class="form-control" th:field=*{title}/>
				</div>
			</div>
			<div class="row mb-3">
				<label for="detail" class="col-sm-2">Detail: </label>
				<div class="col-sm-10">
					<textarea  name="detail" class="form-control" th:field="*{detail}"></textarea>
				</div>
			</div>
			<div class="row mb-3">
				<div class="text-center">
					<button type="submit" class="btn btn-primary col-sm-2">Create</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>